@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #34967c;
  --secondary: #151117;
  --accent: #ffa800;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
}
